NodeRed/Appliances.json
[
   {
      "id":"ee9079eec83ca92d",
      "type":"tab",
      "label":"Appliances",
      "disabled":false,
      "info":"",
      "env":[
         
      ]
   },
   {
      "id":"a932080ec16f98cb",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Washer is done",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_boolean.washer_is_done",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":140,
      "y":60,
      "wires":[
         [
            "7c5a8d8163cfa18a"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"7c5a8d8163cfa18a",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"Washer is Done for loop",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.washer_is_done",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":430,
      "y":60,
      "wires":[
         [
            "acaf2a135f1b37dc"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"ece603d2958a04e8",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"message\":\"Washing machine is done running.\",\t   \"title\":\"Chores!\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":1000,
      "y":40,
      "wires":[
         [
            "d0577aebf59d942b"
         ]
      ]
   },
   {
      "id":"e25ae9234766951c",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Washer Door Open",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.washer_door_iaszone",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":150,
      "y":200,
      "wires":[
         [
            "e8abcfc39248bb08"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"e8abcfc39248bb08",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Turn off warning",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.washer_is_done"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":360,
      "y":160,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"6244804477c3cfc5",
      "type":"inject",
      "z":"ee9079eec83ca92d",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":120,
      "y":140,
      "wires":[
         [
            "7c5a8d8163cfa18a"
         ]
      ]
   },
   {
      "id":"483c09369e35e0fe",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Dryer is done",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_boolean.dryer_is_done",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":130,
      "y":300,
      "wires":[
         [
            "759fcd788bd623cb"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"759fcd788bd623cb",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"Dryer is Done for loop",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.dryer_is_done",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":420,
      "y":300,
      "wires":[
         [
            "88cc8dbd5055e2fd",
            "973177ccf9ef386f"
         ],
         [
            "88cc8dbd5055e2fd"
         ]
      ]
   },
   {
      "id":"c05714ceaf638ea7",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"message\":\"Dryer is done running.\",\t   \"title\":\"Chores!\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":1020,
      "y":260,
      "wires":[
         [
            "ecd82367ac4ec14e"
         ]
      ]
   },
   {
      "id":"ebacdf148b394c2c",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Dryer Door Open",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.dryer_door_iaszone",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":140,
      "y":440,
      "wires":[
         [
            "825798b7d0891905"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"825798b7d0891905",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Turn off warning",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.dryer_is_done"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":360,
      "y":420,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"9aa44647332c449f",
      "type":"inject",
      "z":"ee9079eec83ca92d",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":120,
      "y":360,
      "wires":[
         [
            "1685f29eb980b2d2"
         ]
      ]
   },
   {
      "id":"3316b2ad8b9f495c",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Dryer Running",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.dryer_vibration_iaszone",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"3",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":70,
      "y":520,
      "wires":[
         [
            "23905bb60729a0b8"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"35757b44889aa5b3",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Dryer is Running",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.dryer_is_running"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":530,
      "y":480,
      "wires":[
         [
            "15612b24c876cfae"
         ]
      ]
   },
   {
      "id":"b0302a2bf0955938",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Dryer Stopped",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.dryer_vibration_iaszone",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":170,
      "y":600,
      "wires":[
         [
            "5ae2da8333827531"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"06403d285ba26b69",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Dryer isn't Running",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.dryer_is_running"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":650,
      "y":560,
      "wires":[
         [
            "f792d22eca94194b"
         ]
      ]
   },
   {
      "id":"5ae2da8333827531",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"Dryer running flag",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.dryer_is_running",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":390,
      "y":580,
      "wires":[
         [
            "06403d285ba26b69",
            "a97a4d7c650aa8b8"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"a97a4d7c650aa8b8",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Dryer is Done",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.dryer_is_done"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":640,
      "y":640,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"15612b24c876cfae",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"message\":\"Dryer has started.\",\t   \"title\":\"Chores!\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":780,
      "y":440,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f792d22eca94194b",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"message\":\"Dryer has finished.\",\t   \"title\":\"Chores!\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":900,
      "y":620,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"23905bb60729a0b8",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.dryer_is_running",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":350,
      "y":540,
      "wires":[
         [
            "35757b44889aa5b3"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"204f167271e69f19",
      "type":"inject",
      "z":"ee9079eec83ca92d",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":300,
      "y":700,
      "wires":[
         [
            "a97a4d7c650aa8b8"
         ]
      ]
   },
   {
      "id":"88cc8dbd5055e2fd",
      "type":"debug",
      "z":"ee9079eec83ca92d",
      "name":"debug 27",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":680,
      "y":240,
      "wires":[
         
      ]
   },
   {
      "id":"1685f29eb980b2d2",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"Dryer Door Open",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"binary_sensor.dryer_door_iaszone",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":470,
      "y":360,
      "wires":[
         [
            "825798b7d0891905"
         ],
         [
            "759fcd788bd623cb"
         ]
      ]
   },
   {
      "id":"eccaed6209b4cf7e",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Washer is Done",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"input_boolean",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "input_boolean.washer_is_done"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":640,
      "y":680,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ecd82367ac4ec14e",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"delay",
      "timeout":"60",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"30",
      "rateUnits":"minute",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":890,
      "y":360,
      "wires":[
         [
            "759fcd788bd623cb",
            "1685f29eb980b2d2"
         ]
      ]
   },
   {
      "id":"d0577aebf59d942b",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"delay",
      "timeout":"60",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"30",
      "rateUnits":"minute",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":950,
      "y":140,
      "wires":[
         [
            "7c5a8d8163cfa18a"
         ]
      ]
   },
   {
      "id":"973177ccf9ef386f",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"rate",
      "timeout":"60",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"60",
      "rateUnits":"minute",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":660,
      "y":300,
      "wires":[
         [
            "71605b85d4424465"
         ]
      ]
   },
   {
      "id":"acaf2a135f1b37dc",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"rate",
      "timeout":"60",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"60",
      "rateUnits":"minute",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":660,
      "y":60,
      "wires":[
         [
            "37e7910b9c396abc"
         ]
      ]
   },
   {
      "id":"5c6d74a6057019ba",
      "type":"inject",
      "z":"ee9079eec83ca92d",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":120,
      "y":880,
      "wires":[
         [
            "4fcb282d218d553f"
         ]
      ]
   },
   {
      "id":"4fcb282d218d553f",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Coffee 1",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"button",
      "service":"press",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "button.switchbotcoffeeone_button"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":300,
      "y":880,
      "wires":[
         [
            "8cc48f9216b7066a"
         ]
      ]
   },
   {
      "id":"499e0f44b0f0cb2b",
      "type":"api-call-service",
      "z":"ee9079eec83ca92d",
      "name":"Coffee 2",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"button",
      "service":"press",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "button.switchbotcoffeetwo_button"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":600,
      "y":880,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8cc48f9216b7066a",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"delay",
      "timeout":"5",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":440,
      "y":880,
      "wires":[
         [
            "499e0f44b0f0cb2b"
         ]
      ]
   },
   {
      "id":"cd311062a2ee15ec",
      "type":"ha-button",
      "z":"ee9079eec83ca92d",
      "name":"Make Cofee",
      "version":0,
      "debugenabled":false,
      "outputs":1,
      "entityConfig":"dff8128bf00e9d12",
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "x":130,
      "y":840,
      "wires":[
         [
            "4fcb282d218d553f"
         ]
      ]
   },
   {
      "id":"37e7910b9c396abc",
      "type":"time-range-switch",
      "z":"ee9079eec83ca92d",
      "name":"Daytime",
      "lat":"44.95975",
      "lon":"-93.37023",
      "startTime":"06:00",
      "endTime":"22:00",
      "startOffset":0,
      "endOffset":0,
      "x":820,
      "y":40,
      "wires":[
         [
            "ece603d2958a04e8"
         ],
         [
            "d0577aebf59d942b"
         ]
      ]
   },
   {
      "id":"71605b85d4424465",
      "type":"time-range-switch",
      "z":"ee9079eec83ca92d",
      "name":"Daytime",
      "lat":"44.95975",
      "lon":"-93.37023",
      "startTime":"06:00",
      "endTime":"22:00",
      "startOffset":0,
      "endOffset":0,
      "x":840,
      "y":280,
      "wires":[
         [
            "c05714ceaf638ea7"
         ],
         [
            "ecd82367ac4ec14e"
         ]
      ]
   },
   {
      "id":"b83fb1a537028267",
      "type":"delay",
      "z":"ee9079eec83ca92d",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":440,
      "y":940,
      "wires":[
         [
            "385a620ada77e911"
         ]
      ]
   },
   {
      "id":"5dbd4d7e06696e2e",
      "type":"server-state-changed",
      "z":"ee9079eec83ca92d",
      "name":"Jason in office",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"sensor.jason_presence",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"office",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"5",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":150,
      "y":1000,
      "wires":[
         [
            "b992a04ca76f9e55"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"9b2eb68cdd30da5e",
      "type":"inject",
      "z":"ee9079eec83ca92d",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":160,
      "y":1060,
      "wires":[
         [
            "b992a04ca76f9e55"
         ]
      ]
   },
   {
      "id":"b992a04ca76f9e55",
      "type":"api-current-state",
      "z":"ee9079eec83ca92d",
      "name":"Linda Home?",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"not_home",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"device_tracker.linda_s_phone",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":330,
      "y":1060,
      "wires":[
         [
            "34fc401c845268a3",
            "f64cbe27debb1a81"
         ],
         [
            "34fc401c845268a3"
         ]
      ]
   },
   {
      "id":"34fc401c845268a3",
      "type":"debug",
      "z":"ee9079eec83ca92d",
      "name":"debug 24",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":520,
      "y":1060,
      "wires":[
         
      ]
   },
   {
      "id":"f64cbe27debb1a81",
      "type":"ha-device",
      "z":"ee9079eec83ca92d",
      "name":"Turn off TV",
      "server":"1dfe8daa.4cf7a2",
      "version":0,
      "debugenabled":false,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "inputs":1,
      "deviceType":"action",
      "device":"c08fd59f1c3c64c95301963682e2507f",
      "event":{
         "type":"turn_off",
         "device_id":"c08fd59f1c3c64c95301963682e2507f",
         "entity_id":"switch.master_bedroom_tv",
         "domain":"switch",
         "metadata":{
            "secondary":false
         }
      },
      "capabilities":[
         
      ],
      "outputProperties":[
         
      ],
      "x":340,
      "y":1000,
      "wires":[
         [
            "b83fb1a537028267"
         ]
      ]
   },
   {
      "id":"385a620ada77e911",
      "type":"ha-device",
      "z":"ee9079eec83ca92d",
      "name":"Turn off TV",
      "server":"1dfe8daa.4cf7a2",
      "version":0,
      "debugenabled":false,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "inputs":1,
      "deviceType":"action",
      "device":"c08fd59f1c3c64c95301963682e2507f",
      "event":{
         "type":"turn_on",
         "device_id":"c08fd59f1c3c64c95301963682e2507f",
         "entity_id":"switch.master_bedroom_tv",
         "domain":"switch",
         "metadata":{
            "secondary":false
         }
      },
      "capabilities":[
         
      ],
      "outputProperties":[
         
      ],
      "x":540,
      "y":1000,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1dfe8daa.4cf7a2",
      "type":"server",
      "name":"Home Assistant",
      "addon":true
   },
   {
      "id":"dff8128bf00e9d12",
      "type":"ha-entity-config",
      "server":"1dfe8daa.4cf7a2",
      "deviceConfig":"",
      "name":"Make Coffee",
      "version":"6",
      "entityType":"button",
      "haConfig":[
         {
            "property":"name",
            "value":"Make Coffee"
         },
         {
            "property":"icon",
            "value":""
         },
         {
            "property":"entity_category",
            "value":""
         },
         {
            "property":"device_class",
            "value":""
         }
      ],
      "resend":false,
      "debugEnabled":false
   }
]
