NodeRed/BloodSugarMonitor.json
[
   {
      "id":"8b9789cf642f6eb0",
      "type":"tab",
      "label":"BG Check",
      "disabled":false,
      "info":"",
      "env":[
         
      ]
   },
   {
      "id":"9b9e10d2efbe37d9",
      "type":"debug",
      "z":"8b9789cf642f6eb0",
      "name":"debug 3",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":620,
      "y":20,
      "wires":[
         
      ]
   },
   {
      "id":"f778c159a54ac0bb",
      "type":"server-state-changed",
      "z":"8b9789cf642f6eb0",
      "name":"Get BG",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"sensor.blood_sugar",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"num",
      "haltifstate":"3000",
      "halt_if_type":"num",
      "halt_if_compare":"lt",
      "outputs":2,
      "output_only_on_state_change":false,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"$entity().attributes.direction",
            "valueType":"jsonata"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":110,
      "y":180,
      "wires":[
         [
            "9b9e10d2efbe37d9",
            "4e9b53239fa5b538",
            "084874a309d904c5"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"3ae039cb54636ac9",
      "type":"api-call-service",
      "z":"8b9789cf642f6eb0",
      "name":"Tell me the BG",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"tts",
      "service":"google_translate_say",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "media_player.kitchen_display",
         "light.living_room",
         "media_player.master_bedroom_speaker",
         "media_player.office_display"
      ],
      "data":"{\"cache\":false,\"message\":\"Rackam's blood sugar is {{payload}} and {{data}}\"}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"all",
      "x":980,
      "y":240,
      "wires":[
         [
            "228909ae8660099e"
         ]
      ]
   },
   {
      "id":"4e9b53239fa5b538",
      "type":"debug",
      "z":"8b9789cf642f6eb0",
      "name":"debug 4",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"data",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":800,
      "y":20,
      "wires":[
         
      ]
   },
   {
      "id":"f92a1123b3c72081",
      "type":"inject",
      "z":"8b9789cf642f6eb0",
      "name":"Start for testing",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":120,
      "y":80,
      "wires":[
         [
            "96fbec95cc426446"
         ]
      ]
   },
   {
      "id":"96fbec95cc426446",
      "type":"api-current-state",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"5000",
      "halt_if_type":"num",
      "halt_if_compare":"lt",
      "entity_id":"sensor.blood_sugar",
      "state_type":"num",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"$entity().attributes.direction",
            "valueType":"jsonata"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":360,
      "y":80,
      "wires":[
         [
            "9b9e10d2efbe37d9",
            "4e9b53239fa5b538",
            "474f8e2383fa1195"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"474f8e2383fa1195",
      "type":"switch",
      "z":"8b9789cf642f6eb0",
      "name":"Pass the msg if out of range.",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lte",
            "v":"75",
            "vt":"num"
         },
         {
            "t":"gte",
            "v":"310",
            "vt":"num"
         },
         {
            "t":"btwn",
            "v":"76",
            "vt":"num",
            "v2":"309",
            "v2t":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":660,
      "y":120,
      "wires":[
         [
            "129fb4a3de616ad5"
         ],
         [
            "3d5a0730e92b027c"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"129fb4a3de616ad5",
      "type":"switch",
      "z":"8b9789cf642f6eb0",
      "name":"Danger Low Directions",
      "property":"data",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"Down",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Up",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"Flat",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":700,
      "y":320,
      "wires":[
         [
            "3ae039cb54636ac9",
            "be9b242dd4653810"
         ],
         [
            "3ae039cb54636ac9"
         ],
         [
            "3ae039cb54636ac9"
         ]
      ]
   },
   {
      "id":"3d5a0730e92b027c",
      "type":"switch",
      "z":"8b9789cf642f6eb0",
      "name":"Danger High Directions",
      "property":"data",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"Up",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Flat",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Down",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":950,
      "y":120,
      "wires":[
         [
            "3ae039cb54636ac9"
         ],
         [
            "3ae039cb54636ac9"
         ],
         [
            "3ae039cb54636ac9"
         ]
      ]
   },
   {
      "id":"084874a309d904c5",
      "type":"delay",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "pauseType":"rate",
      "timeout":"30",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"30",
      "rateUnits":"minute",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":380,
      "y":200,
      "wires":[
         [
            "474f8e2383fa1195"
         ]
      ]
   },
   {
      "id":"2d8df35adc7ae99a",
      "type":"api-call-service",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         "dd6dd6746d794a01004a2596a827ed9a",
         "23abaa8fa6ea4e5e21e5456ad4af7d9a",
         "4df822b87920d0ac89765e07227823df"
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"brightness_pct\":25\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":890,
      "y":460,
      "wires":[
         [
            "3187d679cf679650"
         ]
      ]
   },
   {
      "id":"3187d679cf679650",
      "type":"delay",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "pauseType":"delay",
      "timeout":"10",
      "timeoutUnits":"minutes",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":870,
      "y":520,
      "wires":[
         [
            "d6b6ae9d86a1c563"
         ]
      ]
   },
   {
      "id":"d6b6ae9d86a1c563",
      "type":"api-call-service",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         "dd6dd6746d794a01004a2596a827ed9a",
         "23abaa8fa6ea4e5e21e5456ad4af7d9a",
         "4df822b87920d0ac89765e07227823df"
      ],
      "entityId":[
         
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":950,
      "y":580,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"be9b242dd4653810",
      "type":"time-range-switch",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "lat":"44.95975",
      "lon":"-93.37023",
      "startTime":"sunriseEnd",
      "endTime":"sunsetStart",
      "startOffset":0,
      "endOffset":0,
      "x":830,
      "y":400,
      "wires":[
         [
            
         ],
         [
            "2d8df35adc7ae99a"
         ]
      ]
   },
   {
      "id":"228909ae8660099e",
      "type":"api-call-service",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"message\":\"Grass has blood sugar issues.\",\t   \"title\":\"BG Issues\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":1060,
      "y":360,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8823725e0b9d0380",
      "type":"server-state-changed",
      "z":"8b9789cf642f6eb0",
      "name":"DKA Timer On",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_boolean.bg_dka_timer",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":1,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":110,
      "y":460,
      "wires":[
         [
            "8ddc1b70a04f4a05"
         ]
      ]
   },
   {
      "id":"8ddc1b70a04f4a05",
      "type":"api-current-state",
      "z":"8b9789cf642f6eb0",
      "name":"Watching DKA",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.bg_dka_timer",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":320,
      "y":460,
      "wires":[
         [
            "0f97fa12414231ae",
            "cd1f486f9f5c83f1"
         ],
         [
            "8b8377ff61861b0e"
         ]
      ]
   },
   {
      "id":"0f97fa12414231ae",
      "type":"api-call-service",
      "z":"8b9789cf642f6eb0",
      "name":"Notification",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"notify",
      "service":"pushbullet",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\"message\":\"Check BG, ask about ketones\",\"title\":\"DKA Test\"}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":530,
      "y":480,
      "wires":[
         [
            "ec825e190f9e2dd6"
         ]
      ]
   },
   {
      "id":"ec825e190f9e2dd6",
      "type":"delay",
      "z":"8b9789cf642f6eb0",
      "name":"",
      "pauseType":"delay",
      "timeout":"2",
      "timeoutUnits":"hours",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":380,
      "y":580,
      "wires":[
         [
            "8ddc1b70a04f4a05"
         ]
      ]
   },
   {
      "id":"cd1f486f9f5c83f1",
      "type":"debug",
      "z":"8b9789cf642f6eb0",
      "name":"debug 11",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":460,
      "y":360,
      "wires":[
         
      ]
   },
   {
      "id":"8b8377ff61861b0e",
      "type":"debug",
      "z":"8b9789cf642f6eb0",
      "name":"debug 12",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":520,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"1dfe8daa.4cf7a2",
      "type":"server",
      "name":"Home Assistant",
      "addon":true
   }
]
