NodeRed/KeepAlive.json
[
   {
      "id":"3ea92b9780145c3b",
      "type":"tab",
      "label":"Keep Alive",
      "disabled":false,
      "info":"",
      "env":[
         
      ]
   },
   {
      "id":"a64077b94f5562ee",
      "type":"inject",
      "z":"3ea92b9780145c3b",
      "name":"Garage Keep Alive",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"1800",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":160,
      "y":100,
      "wires":[
         [
            "29fcca6d6146e2a6",
            "05e3d7b042f4b473",
            "052208404ae97795"
         ]
      ]
   },
   {
      "id":"29fcca6d6146e2a6",
      "type":"api-current-state",
      "z":"3ea92b9780145c3b",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"binary_sensor.garage_service_door_iaszone_2",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":650,
      "y":140,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"05e3d7b042f4b473",
      "type":"api-current-state",
      "z":"3ea92b9780145c3b",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"sensor.tubeszb_tubeszb_router_rssi",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":610,
      "y":40,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"052208404ae97795",
      "type":"api-current-state",
      "z":"3ea92b9780145c3b",
      "name":"",
      "server":"1dfe8daa.4cf7a2",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"binary_sensor.garage_big_door_iaszone",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":620,
      "y":100,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"c83c69d814599692",
      "type":"inject",
      "z":"3ea92b9780145c3b",
      "name":"2:45AM",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"45 02 * * *",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":100,
      "y":480,
      "wires":[
         [
            "a4ce49972f276da8",
            "c46093cfbb2025d6"
         ]
      ]
   },
   {
      "id":"a4ce49972f276da8",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Garage TubeZ router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.tubezb_power"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":420,
      "y":560,
      "wires":[
         [
            "2bbd03852f0c916d"
         ]
      ]
   },
   {
      "id":"db13e8f3974dc7bb",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Garage TubeZ router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.tubezb_power"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":860,
      "y":560,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"2bbd03852f0c916d",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":560,
      "wires":[
         [
            "db13e8f3974dc7bb"
         ]
      ]
   },
   {
      "id":"5978eddd17dc3cd0",
      "type":"inject",
      "z":"3ea92b9780145c3b",
      "name":"Shelly Keep Alive",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"5400",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":150,
      "y":200,
      "wires":[
         [
            "35fca2f00ba88295"
         ]
      ]
   },
   {
      "id":"35fca2f00ba88295",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Announce on shelly channel.",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"mqtt",
      "service":"publish",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"{\t   \"topic\":\"shellies/command\",\t   \"payload\":\"announce\"\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":440,
      "y":200,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1dd8df2b55c67f7a",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Keep TV Outlet on",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"switch.master_bedroom_tv",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":130,
      "y":260,
      "wires":[
         [
            "b822967617a04ea3"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"b822967617a04ea3",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"5",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":340,
      "y":260,
      "wires":[
         [
            "c20cfd94b8d66aa4"
         ]
      ]
   },
   {
      "id":"c20cfd94b8d66aa4",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Turn on TV",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.master_bedroom_tv"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":530,
      "y":260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"cc015948186da193",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Back Door BLE Plug",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"light.back_door_ble_plug_light_3",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":130,
      "y":340,
      "wires":[
         [
            "40ae4413e0936492"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"40ae4413e0936492",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":340,
      "y":340,
      "wires":[
         [
            "0e04f5ed85ef7a75"
         ]
      ]
   },
   {
      "id":"0e04f5ed85ef7a75",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Turn on Backdoor ble",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.back_door_ble_plug_light_3"
      ],
      "data":"{\t   \"brightness_pct\":100\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":540,
      "y":360,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"7660cb357fd7d9b4",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Garage BLE Plug",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"light.garage_ble_outlet_light_4",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":420,
      "wires":[
         [
            "8dea18ac51fb7f9c"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"8dea18ac51fb7f9c",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":340,
      "y":420,
      "wires":[
         [
            "c80e95621e97066f"
         ]
      ]
   },
   {
      "id":"c80e95621e97066f",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Turn on garage ble",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.garage_ble_outlet_light_4"
      ],
      "data":"{\t   \"brightness_pct\":100\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":550,
      "y":420,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"243aca899a87e1af",
      "type":"inject",
      "z":"3ea92b9780145c3b",
      "name":"Every 15m",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"900",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":330,
      "y":380,
      "wires":[
         [
            "0e04f5ed85ef7a75",
            "c80e95621e97066f"
         ]
      ]
   },
   {
      "id":"0ee79272c06e10a6",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Garage Zigbee Unavailable",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"sensor.tubeszb_tubeszb_router_rssi",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"unavailable",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"5",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":130,
      "y":560,
      "wires":[
         [
            "a4ce49972f276da8"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"376e5a885aa63569",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Laundry Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.laundry_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":410,
      "y":660,
      "wires":[
         [
            "b86c8ba845571e85"
         ]
      ]
   },
   {
      "id":"d8702614b5d144fb",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Laundry Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.laundry_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":850,
      "y":660,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"b86c8ba845571e85",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":660,
      "wires":[
         [
            "d8702614b5d144fb"
         ]
      ]
   },
   {
      "id":"fb7e7703e752282d",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Laundry AI Mesh",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.aimesh_zenwifiaxmini_58_11_22_63_f9_90",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"013",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":660,
      "wires":[
         [
            "376e5a885aa63569"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"b939f1194c8d2a1a",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Dining Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.dining_room_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":400,
      "y":760,
      "wires":[
         [
            "d0bae1a0d496a1c3"
         ]
      ]
   },
   {
      "id":"2bac7a7ecdb52a9b",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Dining Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.dining_room_router",
         "switch.laundry_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":840,
      "y":760,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"d0bae1a0d496a1c3",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":760,
      "wires":[
         [
            "2bac7a7ecdb52a9b"
         ]
      ]
   },
   {
      "id":"df920dd50e71abfe",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Dining AI Mesh",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.aimesh_zenwifiaxmini_58_11_22_63_f9_a0",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"13",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":760,
      "wires":[
         [
            "b939f1194c8d2a1a"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"7380d105298132ab",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Garage Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.garage_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":400,
      "y":860,
      "wires":[
         [
            "ce8217e250d1972d"
         ]
      ]
   },
   {
      "id":"1aaf78b10043ee2b",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle garage Router",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.garage_router"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":840,
      "y":860,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"ce8217e250d1972d",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":860,
      "wires":[
         [
            "1aaf78b10043ee2b"
         ]
      ]
   },
   {
      "id":"7076fa8172ffb5e4",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Garage AI Mesh",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.aimesh_zenwifiaxmini_58_11_22_63_f9_80",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"13",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":860,
      "wires":[
         [
            "7380d105298132ab"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"a72305ad7b15bfe9",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Garage Door Opener",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_5"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":420,
      "y":960,
      "wires":[
         [
            "96af5cd4a2633185"
         ]
      ]
   },
   {
      "id":"cf44f76dae2a7304",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle Garage Door Opener",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_5"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":860,
      "y":960,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"96af5cd4a2633185",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":960,
      "wires":[
         [
            "cf44f76dae2a7304"
         ]
      ]
   },
   {
      "id":"f79aee7278288188",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Garage Door Opener",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.shelly_shsw_1_3494546a283a_switch",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"15",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":960,
      "wires":[
         [
            "a72305ad7b15bfe9"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"fbeb644500a579cf",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_2"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1080,
      "wires":[
         [
            "0933ad078ab99667"
         ]
      ]
   },
   {
      "id":"0933ad078ab99667",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":600,
      "y":1080,
      "wires":[
         [
            "22f295f8bd0b48b4"
         ]
      ]
   },
   {
      "id":"c9437e2371b4d1cc",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"LR BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.living_room_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":1080,
      "wires":[
         [
            "fbeb644500a579cf"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"22f295f8bd0b48b4",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_2"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":810,
      "y":1080,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"c46093cfbb2025d6",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":620,
      "wires":[
         [
            "376e5a885aa63569",
            "edc5edcd70c1cb79"
         ]
      ]
   },
   {
      "id":"edc5edcd70c1cb79",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":720,
      "wires":[
         [
            "b939f1194c8d2a1a",
            "5c64d3fc483e9141"
         ]
      ]
   },
   {
      "id":"5c64d3fc483e9141",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":820,
      "wires":[
         [
            "7380d105298132ab",
            "48b3e5cb92893d6e"
         ]
      ]
   },
   {
      "id":"48b3e5cb92893d6e",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":920,
      "wires":[
         [
            "a72305ad7b15bfe9",
            "6f44cb3e06492aba"
         ]
      ]
   },
   {
      "id":"6f44cb3e06492aba",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1020,
      "wires":[
         [
            "fbeb644500a579cf",
            "22be3fa218f6c0c5"
         ]
      ]
   },
   {
      "id":"5c45c31b5831d9d3",
      "type":"inject",
      "z":"3ea92b9780145c3b",
      "name":"",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"00 02 * * 0",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":790,
      "y":480,
      "wires":[
         [
            "7a57bc48d9a1acfb"
         ]
      ]
   },
   {
      "id":"7a57bc48d9a1acfb",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Restart HA",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"homeassistant",
      "service":"restart",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":1010,
      "y":480,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"76d23f569559a410",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_3"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1220,
      "wires":[
         [
            "ecce6e87fe56fe49"
         ]
      ]
   },
   {
      "id":"ecce6e87fe56fe49",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":580,
      "y":1220,
      "wires":[
         [
            "ddd80fbc05616b5f"
         ]
      ]
   },
   {
      "id":"00133665f55da5b6",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"DR BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.dining_room_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":1220,
      "wires":[
         [
            "76d23f569559a410"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"ddd80fbc05616b5f",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch_3"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":810,
      "y":1220,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"22be3fa218f6c0c5",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1160,
      "wires":[
         [
            "76d23f569559a410",
            "12b831366f9ca779"
         ]
      ]
   },
   {
      "id":"429fcd05b56f885e",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.office_ble_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1340,
      "wires":[
         [
            "7b9f779a1bb79443"
         ]
      ]
   },
   {
      "id":"7b9f779a1bb79443",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":1340,
      "wires":[
         [
            "9cc4f52b38df228e"
         ]
      ]
   },
   {
      "id":"3e63556194e3ad1b",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Office BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.office_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":110,
      "y":1340,
      "wires":[
         [
            "429fcd05b56f885e"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"9cc4f52b38df228e",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.office_ble_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":810,
      "y":1340,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"12b831366f9ca779",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1280,
      "wires":[
         [
            "429fcd05b56f885e",
            "399cafd20104870f"
         ]
      ]
   },
   {
      "id":"f391ba71abb4398c",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":600,
      "y":1460,
      "wires":[
         [
            "9adcb0c8c24a3d39"
         ]
      ]
   },
   {
      "id":"03033e1733609ccc",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Back Door BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.back_door_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":1460,
      "wires":[
         [
            "d7c372af6ad1afd1"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"d7c372af6ad1afd1",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.back_door_ble_plug_light_3"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1460,
      "wires":[
         [
            "f391ba71abb4398c"
         ]
      ]
   },
   {
      "id":"9adcb0c8c24a3d39",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.back_door_ble_plug_light_3"
      ],
      "data":"{\t   \"brightness_pct\": 100\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":810,
      "y":1460,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"399cafd20104870f",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1400,
      "wires":[
         [
            "d7c372af6ad1afd1",
            "dbef9faa001faf98"
         ]
      ]
   },
   {
      "id":"8489af247098c453",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.kitchen_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1580,
      "wires":[
         [
            "d0a30c4fa06a4923"
         ]
      ]
   },
   {
      "id":"d0a30c4fa06a4923",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":600,
      "y":1580,
      "wires":[
         [
            "17a706e995d0b641"
         ]
      ]
   },
   {
      "id":"4c98a63b429ae1e4",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Kitchen BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.kitchen_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":1580,
      "wires":[
         [
            "8489af247098c453"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"17a706e995d0b641",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.kitchen_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":810,
      "y":1580,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"dbef9faa001faf98",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1520,
      "wires":[
         [
            "8489af247098c453",
            "b4524bd09172bacd"
         ]
      ]
   },
   {
      "id":"40b3e0987f19bb6a",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":1700,
      "wires":[
         [
            "4b897516d1c983f2"
         ]
      ]
   },
   {
      "id":"ced0ad2008103724",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"Garage BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.garage_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":1700,
      "wires":[
         [
            "a9589891b185459b"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"a9589891b185459b",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.garage_ble_outlet_light_4"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":370,
      "y":1700,
      "wires":[
         [
            "40b3e0987f19bb6a"
         ]
      ]
   },
   {
      "id":"4b897516d1c983f2",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"light",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "light.garage_ble_outlet_light_4"
      ],
      "data":"{\t   \"brightness_pct\": 100\t}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":850,
      "y":1700,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"b4524bd09172bacd",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":120,
      "y":1640,
      "wires":[
         [
            "a9589891b185459b",
            "abb6da1789940b58"
         ]
      ]
   },
   {
      "id":"a9897d942f80184e",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":390,
      "y":1820,
      "wires":[
         [
            "d8e27392ca0acf52"
         ]
      ]
   },
   {
      "id":"d8e27392ca0acf52",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":660,
      "y":1820,
      "wires":[
         [
            "c557e6cfe046e71a"
         ]
      ]
   },
   {
      "id":"9d2b9579af21748d",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"FR BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.family_room_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":120,
      "y":1820,
      "wires":[
         [
            "a9897d942f80184e"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"c557e6cfe046e71a",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.sonoff_s40lite_switch"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":830,
      "y":1820,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"abb6da1789940b58",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":160,
      "y":1760,
      "wires":[
         [
            "a9897d942f80184e",
            "4b0b680cd944e063"
         ]
      ]
   },
   {
      "id":"4eb38de924d96cb2",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle MB BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_off",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.master_bedroom_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":380,
      "y":1940,
      "wires":[
         [
            "d230cb11339f72dd"
         ]
      ]
   },
   {
      "id":"d230cb11339f72dd",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":640,
      "y":1940,
      "wires":[
         [
            "3a5f00b39513e73c"
         ]
      ]
   },
   {
      "id":"674088a50553cb0a",
      "type":"server-state-changed",
      "z":"3ea92b9780145c3b",
      "name":"MB BLE Devices",
      "server":"1dfe8daa.4cf7a2",
      "version":4,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"binary_sensor.master_bedroom_ble",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"str",
      "haltifstate":"off",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":"10",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":100,
      "y":1940,
      "wires":[
         [
            "4eb38de924d96cb2"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"3a5f00b39513e73c",
      "type":"api-call-service",
      "z":"3ea92b9780145c3b",
      "name":"Power Toggle MB BLE",
      "server":"1dfe8daa.4cf7a2",
      "version":5,
      "debugenabled":false,
      "domain":"switch",
      "service":"turn_on",
      "areaId":[
         
      ],
      "deviceId":[
         
      ],
      "entityId":[
         "switch.master_bedroom_outlet"
      ],
      "data":"",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "x":820,
      "y":1940,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"4b0b680cd944e063",
      "type":"delay",
      "z":"3ea92b9780145c3b",
      "name":"",
      "pauseType":"delay",
      "timeout":"30",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":140,
      "y":1880,
      "wires":[
         [
            "4eb38de924d96cb2"
         ]
      ]
   },
   {
      "id":"1dfe8daa.4cf7a2",
      "type":"server",
      "name":"Home Assistant",
      "addon":true
   }
]
